/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/prismjs/themes/prism-okaidia.css';

// component 列印設定
@media print {
    app-root > * { display: none; }
    app-root app-print-layout { display: block; }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container {
    padding: 50px 250px;
}

/* Flex Box */

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}